@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body {
    background-color: #141414;
    color: white;
    overflow: hidden;
    text-align: center;
    align-content: center;
    font-family: "Archivo Black", sans-serif;
    font-size: 25px;
}

h1 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

img {
    min-width: 54vw;
    min-height: 45vh;
    max-width: 55vw;
    max-height: 55vh;
}


